:root {
    --dark-green-color: #78938A;
    --light-green-color: #92BA92;
    --yellow-color: #F1DDBF;
    --blue-color: #525E75;
}


body {
    background: var(--dark-green-color);
    margin: 0;
    font-family: "Verdana";
}

a {
    color: var(--blue-color)
}

ul {
    list-style-type: none;
}

section {
    padding: 5em 2em;
}

.navbar {
    background: var(--yellow-color);
    padding: 1em;

    .logo {
        text-decoration: none;
        font-weight: bold;
        color: var(--blue-color);
        font-size: 1.2em;

        span {
            color: var(--dark-green-color);
        }
    }

    nav {
        display: none;
    }

    .container {
        display: flex;
        place-content: space-between;
    }

    .mobile-menu {
        cursor: pointer;
    }
}

.hero {
    text-align: center;

    .subhead {
        font-size: 1.4em;
        color: var(--yellow-color);
    }

    h1 {
        color: var(--yellow-color);
        font-size: 4em;
        line-height: 1.3em;
    }

    .hero-cta {
        background: var(--light-green-color);
        color: var(--blue-color);
        text-decoration: none;
        font-weight: bold;
        font-size: 1.4em;
        padding: .6em 6em;
        border-radius: 5em;
        display: inline-block;
        margin-top: 5em;
        margin-bottom: 10em;
    }
}

.about-section {

    text-align: center;
    background: var(--yellow-color);

    .about-head {
        color: var(--blue-color);
        font-size: 2em;

    }

    p {
        color: var(--blue-color);
        font-size: 2em;
        margin-bottom: 6em;
    }
}

.wave-div {
    position: relative;
    background: var(--yellow-color);
}

.waves-image {
    position: absolute;
    max-width: 100%;
    height: auto;
    width: auto\9;
    /* ie8 */
    top: 75px;
    left: 75px;
}